<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Party in Your Pocket</h1>
    
        <ul class="nav">
            <li class="active"><a href='/'>Home</a></li>
            <li><a href="/parties">Party List</a></li>
            <li><a href="/parties/new">New Party</a></li>
        </ul>
    </header>


    
    <!-- <div class="button-container">
        <button><a class="homeBtn" href="/parties">Party List</a></button>
        <button><a class="homeBtn" href="/parties/new">New Party</a></button>
    </div> -->
</body>
</html>