<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party List</title>
</head>
<body>
    <h1>Resting ...</h1>
    <ul>
        <% parties.forEach((party) => { %>
            <li>
                <a href="/parties/<%=party._id%>">
                    <%=party.name%>
                </a>
            </li>
        <% }) %>
    </ul>
    <a href="/parties/new">Add new Party</a>
</body>
</html>