<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    
        <h1 id="newH1">Plan your party here:</h1><br>
    
    
    <form action="/parties" method="POST">
        <div>
            <label>Name:</label>
            <input type="text" name="name"/>
        </div>

        <br></br>

        <div>
            <label>When is the party?</label>
            <input type="date" name="date" id="date"/>
            <input type="time" name="time"/>
        </div>

        <br></br>

        <div>
            <label>Where is the party?</label>
            <input type="text" name="address"/>
        </div>

        <br></br>

        <div>
            <label>Open invite?</label>
            <input type="checkbox" name="openInvite"/>
        </div>

        <br><br/>

        <div>
            <label class="label">Type/Theme: </label>
            <details>Ex. Potluck, brunch, Spongebob, etc.</details>
            <input type="text" name="theme"/>
            
        </div>

        <br>

        <div>
            <!-- <form action="/parties" method="get"> don't need -->
            <label>Dress Code: </label>
            <input list="dressCodes" name="dressCode"/>
                <datalist id="dressCodes"> <!--list and id should be the same for pull down menu to work-->
                    <option value="Casual">
                    <option value="Dressy Casual">
                    <option value="Business Attire">
                    <option value="Black Tie">
                    <option value="Costume">
                    <option value="Cocktail">
                    <option value="Swim/Beach">
                </datalist>
            <!-- </form> -->
        </div>

        <br></br>

        <div>
            <label>How many guests? </label>
            <input type="number" name="numGuests"/>
            
        </div>

        <br>

        <div>
            <label>Guest list: </label>
            <!-- <input type="text" name="guestList"/>-->
            <textarea 
            name="guestList"
            rows="10"
            cols="50"
            
            ></textarea>
        </div>

        <br>

        <div>
            <label>Budget: </label>
            <input type="number" name="budget"/>
        </div>

        <br>

        <div>
            <input type="reset" value="Reset" id="reset">
            <button type="submit">Add Party</button>
        </div>
    </form>
    
    <a href="/parties">Back to Party List</a>
</body>
</html>