<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Plan your party here:</h1>
    <form action="/parties" method="POST">
        <div>
            <label>Name:</label>
            <input type="text" name="name"/>
        </div>

        <br></br>

        <div>
            <label>When is the party?</label>
            <input type="date"/>
        </div>

        <br></br>

        <div>
            <label>Open invite?</label>
            <input type="checkbox" name="openInvite"/>
        </div>

        <br><br/>

        <div>
            <label for="theme" class="label">Theme: </label>
            <details>Ex. Spongebob</details>
            <input type="text" name="name"/>
            
        </div>

        <br></br>

        <div>
            <label for="numGuests">How many guests? </label>
            <input type="number" name="numGuests"/>
            <!-- <div class="dropdown-content">
                 <p>1</p>
                 <p>2</p>
                 <p>3</p>
            </div> -->
        </div>

        <div>
            <input type="reset" calue="Reset">
            <button type="submit">Add Party</button>
        </div>
    </form>
    
    <a href="/parties">Back to Party List</a>
</body>
</html>